{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une catégorie
{% endblock %}

{% block body %}
	<div class="row my-5">
		<div class="col-md-6 mx-auto">
			{{ form(form) }}
			</div>
		</div>
	{% endblock %}
